* {
	box-sizing: border-box;
}
body {
  background-color: #90c8ff;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #0099e6;
}

a {
	text-decoration: none;
  font-family: georgia;
}



.logo {
	margin: 0;
	font-size: 2.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
  flex-basis: 100%; 
  margin: 1%;
}

.main-nav a {
	color: #0099e6;
	font-size: 2.45em;
  flex-basis: 100%; 
  margin: 1%;
}

.main-nav a:hover {
	color: #34495e;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px  #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px #0099e6;
	-moz-box-shadow: 0px 0px 14px 0px #0099e6;
	box-shadow: 0px 0px 14px 0px #0099e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 45px;
  flex-basis: 100%;
  margin: 1%;
}
.item {
 flex: 1 1 100%;
 padding: 0.5em;
  
}
.grid {
 padding: 1em;
}

.grid-inner {
 display: flex;
 flex-wrap: wrap;
 margin: 0 -0.5em;
}

/*media */
/*code idea by https://codepen.io/Tyler_Potts_/pen/xxbBvOy*/




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header  {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
@media screen and (min-width: 480px) {
 .item {
  flex: 1 1 50%;
 }
}

@media screen and (min-width: 768px) {
 .item {
  flex: 1 1 33.333%;
 }
}

@media screen and (min-width: 980px) {
 .item {
  flex: 1 1 25%;
 }
}
